################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wise
/Project3/appsettings.json
/Project3/appsettings.Development.json
/Project3/.vs/Project3/FileContentIndex/3120e1f1-a066-4cb7-a402-d2d092a3dc65.vsidx
/Project3/.vs/Project3/FileContentIndex
