################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wise/.vs
/Wise/Wise.Infrastructure/obj/Release/net8.0
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.AssemblyInfo.cs
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.AssemblyInfoInputs.cache
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.assets.cache
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.csproj.AssemblyReference.cache
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
*.json
/Wise/Wise.Domain/obj/Release/net8.0
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.AssemblyInfo.cs
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.AssemblyInfoInputs.cache
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.assets.cache
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Wise/Wise.Application/obj/Release/net8.0
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.AssemblyInfo.cs
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.AssemblyInfoInputs.cache
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.assets.cache
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.csproj.AssemblyReference.cache
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.GeneratedMSBuildEditorConfig.editorconfig
/Wise/Wise/.vs
/Wise/Wise/obj/Release/net8.0
/Wise/Wise/obj/Debug/net8.0/rpswa.dswa.cache.json
/Wise/Wise/obj/Debug/net8.0/Wise.AssemblyInfo.cs
/Wise/Wise/obj/Debug/net8.0/Wise.AssemblyInfoInputs.cache
/Wise/Wise/obj/Debug/net8.0/Wise.assets.cache
/Wise/Wise/obj/Debug/net8.0/Wise.csproj.AssemblyReference.cache
/Wise/Wise/obj/Debug/net8.0/Wise.GeneratedMSBuildEditorConfig.editorconfig
/Wise/Wise/appsettings.Development.json
/Wise/Wise/appsettings.json
/Wise/Wise/.vs/ProjectEvaluation/wise.metadata.v9.bin
/Wise/Wise/.vs/ProjectEvaluation/wise.projects.v9.bin
/Wise/Wise/.vs/ProjectEvaluation/wise.strings.v9.bin
/Wise/Wise/.vs/Wise/CopilotIndices/17.14.1231.31060/CodeChunks.db
/Wise/Wise/.vs/Wise/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
/Wise/Wise/.vs/Wise/DesignTimeBuild/.dtbcache.v2
/Wise/Wise/.vs/Wise/FileContentIndex/1252aff7-7613-46d2-8636-fcd31b66645c.vsidx
/Wise/Wise/.vs/Wise/FileContentIndex/16358291-0f93-4349-8446-9bdd86cb86e4.vsidx
/Wise/Wise/.vs/Wise/FileContentIndex/64c7c40f-acae-4aeb-8341-e7212adb6541.vsidx
/Wise/Wise/.vs/Wise/FileContentIndex/407870a3-37ae-4225-bb34-83b0fcd40f25.vsidx
/Wise/Wise/.vs/Wise/FileContentIndex/ba809b0d-6182-4e9f-a547-f0fb98fea207.vsidx
/Wise/Wise/.vs/Wise/v17/.futdcache.v2
/Wise/Wise/.vs/Wise/v17/.suo
/Wise/Wise/.vs/Wise/v17/DocumentLayout.backup.json
/Wise/Wise/.vs/Wise/v17/DocumentLayout.json
/Wise/Wise/bin/Debug/net8.0/appsettings.Development.json
/Wise/Wise/bin/Debug/net8.0/appsettings.json
/Wise/Wise/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Wise/Wise/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/Wise/Wise/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Wise/Wise/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/Wise/Wise/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/Wise/Wise/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Wise/Wise/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/Wise/Wise/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/Wise/Wise/bin/Debug/net8.0/Wise.Application.dll
/Wise/Wise/bin/Debug/net8.0/Wise.Application.pdb
/Wise/Wise/bin/Debug/net8.0/Wise.dll
/Wise/Wise/bin/Debug/net8.0/Wise.deps.json
/Wise/Wise/bin/Debug/net8.0/Wise.Domain.dll
/Wise/Wise/bin/Debug/net8.0/Wise.Domain.pdb
/Wise/Wise/bin/Debug/net8.0/Wise.exe
/Wise/Wise/bin/Debug/net8.0/Wise.Infrastructure.dll
/Wise/Wise/bin/Debug/net8.0/Wise.Infrastructure.pdb
/Wise/Wise/bin/Debug/net8.0/Wise.pdb
/Wise/Wise/obj/Debug/net8.0/EndpointInfo/Wise.json
/Wise/Wise/obj/Debug/net8.0/ref/Wise.dll
/Wise/Wise/obj/Debug/net8.0/refint/Wise.dll
/Wise/Wise/obj/Debug/net8.0/ApiEndpoints.json
/Wise/Wise/obj/Debug/net8.0/apphost.exe
/Wise/Wise/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/Wise/Wise/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/Wise/Wise/obj/Debug/net8.0/Wise.csproj.CoreCompileInputs.cache
/Wise/Wise/obj/Debug/net8.0/Wise.csproj.FileListAbsolute.txt
/Wise/Wise/obj/Debug/net8.0/Wise.dll
/Wise/Wise/obj/Debug/net8.0/Wise.pdb
/Wise/Wise.Application/bin/Debug/net8.0/Wise.Application.dll
/Wise/Wise.Application/bin/Debug/net8.0/Wise.Application.pdb
/Wise/Wise.Application/bin/Debug/net8.0/Wise.Domain.dll
/Wise/Wise.Application/bin/Debug/net8.0/Wise.Domain.pdb
/Wise/Wise.Application/obj/Debug/net8.0/ref/Wise.Application.dll
/Wise/Wise.Application/obj/Debug/net8.0/refint/Wise.Application.dll
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.csproj.CoreCompileInputs.cache
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.csproj.FileListAbsolute.txt
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.dll
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.genruntimeconfig.cache
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.pdb
/Wise/Wise.Application/obj/project.assets.json
/Wise/Wise.Application/obj/project.nuget.cache
/Wise/Wise.Application/obj/Wise.Application.csproj.nuget.dgspec.json
/Wise/Wise.Domain/bin/Debug/net8.0/Wise.Domain.dll
/Wise/Wise.Domain/bin/Debug/net8.0/Wise.Domain.pdb
/Wise/Wise.Domain/obj/Debug/net8.0/ref/Wise.Domain.dll
/Wise/Wise.Domain/obj/Debug/net8.0/refint/Wise.Domain.dll
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.csproj.CoreCompileInputs.cache
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.csproj.FileListAbsolute.txt
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.dll
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.genruntimeconfig.cache
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.pdb
/Wise/Wise.Domain/obj/project.assets.json
/Wise/Wise.Domain/obj/project.nuget.cache
/Wise/Wise.Domain/obj/Wise.Domain.csproj.nuget.dgspec.json
/Wise/Wise.Infrastructure/bin/Debug/net8.0/Wise.Application.dll
/Wise/Wise.Infrastructure/bin/Debug/net8.0/Wise.Application.pdb
/Wise/Wise.Infrastructure/bin/Debug/net8.0/Wise.Domain.dll
/Wise/Wise.Infrastructure/bin/Debug/net8.0/Wise.Domain.pdb
/Wise/Wise.Infrastructure/bin/Debug/net8.0/Wise.Infrastructure.dll
/Wise/Wise.Infrastructure/bin/Debug/net8.0/Wise.Infrastructure.pdb
/Wise/Wise.Infrastructure/obj/Debug/net8.0/ref/Wise.Infrastructure.dll
/Wise/Wise.Infrastructure/obj/Debug/net8.0/refint/Wise.Infrastructure.dll
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.csproj.CoreCompileInputs.cache
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.csproj.FileListAbsolute.txt
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.dll
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.genruntimeconfig.cache
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.pdb
/Wise/Wise.Infrastructure/obj/project.assets.json
/Wise/Wise.Infrastructure/obj/project.nuget.cache
/Wise/Wise.Infrastructure/obj/Wise.Infrastructure.csproj.nuget.dgspec.json
/Application/obj/Debug/net8.0
/Application/obj
/Project3/.vs
/Project3/bin/Debug/net8.0
/Project3/obj
/Project3.Application/bin/Debug/net8.0
/Project3.Application/obj
/Project3.Domain/bin/Debug/net8.0
/Project3.Domain/obj
/Project3.Infracture/bin/Debug/net8.0
/Project3.Infracture/obj
/Wise/obj
