################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wise/.vs
/Wise/Wise.Infrastructure/obj/Release/net8.0
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.AssemblyInfo.cs
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.AssemblyInfoInputs.cache
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.assets.cache
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.csproj.AssemblyReference.cache
/Wise/Wise.Infrastructure/obj/Debug/net8.0/Wise.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
*.json
/Wise/Wise.Domain/obj/Release/net8.0
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.AssemblyInfo.cs
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.AssemblyInfoInputs.cache
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.assets.cache
/Wise/Wise.Domain/obj/Debug/net8.0/Wise.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Wise/Wise.Application/obj/Release/net8.0
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.AssemblyInfo.cs
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.AssemblyInfoInputs.cache
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.assets.cache
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.csproj.AssemblyReference.cache
/Wise/Wise.Application/obj/Debug/net8.0/Wise.Application.GeneratedMSBuildEditorConfig.editorconfig
/Wise/Wise/.vs
/Wise/Wise/obj/Release/net8.0
/Wise/Wise/obj/Debug/net8.0/rpswa.dswa.cache.json
/Wise/Wise/obj/Debug/net8.0/Wise.AssemblyInfo.cs
/Wise/Wise/obj/Debug/net8.0/Wise.AssemblyInfoInputs.cache
/Wise/Wise/obj/Debug/net8.0/Wise.assets.cache
/Wise/Wise/obj/Debug/net8.0/Wise.csproj.AssemblyReference.cache
/Wise/Wise/obj/Debug/net8.0/Wise.GeneratedMSBuildEditorConfig.editorconfig
/Wise/Wise/appsettings.Development.json
